/* header */
.header {
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 1px;
}
.header > form > [type=search] {
    width: 50%;
    margin: 10px;
}
/* body */
.mainContent {
    display: flex;
    text-align: center;
}
.list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list > h3 {
    width: 100%;
}
.books {
    border: 1px solid grey;
    width: 20%;
    height: 300px;
    margin: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img {
    width: 90%;
    height: 65%;
    margin: 5%;
}
.cart {
    width: 20%;
    border: 1px solid grey;
    margin: 1%;
}
/* footer */
.footer {
    background-color: dimgray;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}