/* 1 */
div#container1.highlight {
    background-color: yellow;
}

/* 2 */
div#container2 {
    color: pink;
}
div#container2 > p {
    color: red;
}

/* 3 */
div#container3 > input:not([type=submit]) {
    border: 1px solid blue;
}

/* 4 */
div#container4 > h1 {
    color: green;
    font-size: 20px;
}
div#container4 > .title {
    color: green;
    font-size: 20px;
}

/* 5 */
div[class^=user] {
    background-color: lightgray;
}
div[class$=info] {
    color: red;
}
div[class~=product] {
    background-color: coral;
}
div[class|=admin] {
    background-color: yellowgreen;
}

/* 6 */
div#container6 > :focus {
    background-color: yellow;
}
div#container6 > :hover {
    background-color: green;
}

/* 7 */
ul#container7 > li:nth-of-type(2) {
    font-weight: bold;
}

/* 8 */
div.container8 > p {
    color: blue;
}

/* 9 */
div#container9 > p[title*=important]:not([title*=not-important]) {
    background-color: red;
}

/* 10 */
ul#menu > .active {
    color: red;
}